<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="AbstractClassName"/>
        <module name="AnonInnerLength"/>
        <module name="AvoidDoubleBraceInitialization"/>
        <module name="AvoidNestedBlocks"/>
        <module name="AvoidStarImport"/>
        <module name="AvoidStaticImport"/>
        <module name="BooleanExpressionComplexity"/>
        <module name="CatchParameterName"/>
        <module name="ClassTypeParameterName"/>
        <module name="CommentsIndentation"/>
        <module name="ConstantName"/>
        <!-- Looking into enabling it in the future as it can help make code easier to test <module name="CyclomaticComplexity"/> -->
        <module name="DeclarationOrder"/>
        <module name="DefaultComesLast"/>
        <module name="EmptyBlock"/>
        <module name="EmptyCatchBlock"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="FallThrough"/>
        <module name="FinalClass"/>
        <module name="GenericWhitespace"/>
        <module name="HideUtilityClassConstructor"/>
        <!-- Looking into enabling it in the future <module name="Header"/> -->
        <!-- Looking into enabling it in the future <module name="IllegalCatch"/> -->
        <module name="IllegalIdentifierName"/>
        <module name="IllegalInstantiation"/>
        <module name="IllegalThrows"/>
        <module name="IllegalType"/>
        <!-- Looking into enabling it in the future <module name="ImportOrder"/> -->
        <module name="Indentation"/>
        <module name="InnerAssignment"/>
        <module name="InnerTypeLast"/>
        <module name="InterfaceIsType"/>
        <module name="InterfaceTypeParameterName"/>
        <module name="InvalidJavadocPosition"/>
        <module name="JavaNCSS">
            <property name="methodMaximum" value="70"/>
        </module>
        <module name="LambdaParameterName"/>
        <module name="LeftCurly"/>
        <module name="LocalVariableName"/>
        <!-- Looking into enabling it in the future <module name="MagicNumber"/> -->
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="MethodParamPad"/>
        <module name="MethodTypeParameterName"/>
        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>
        <module name="ModifiedControlVariable"/>
        <module name="ModifierOrder"/>
        <!-- Looking into enabling it in the future <module name="MultipleStringLiterals"/> -->
        <module name="MultipleVariableDeclarations"/>
        <module name="MutableException"/>
        <module name="NeedBraces"/>
        <module name="NestedIfDepth">
            <property name="max" value="3"/>
        </module>
        <module name="NestedTryDepth"/>
        <module name="NoArrayTrailingComma"/>
        <module name="NoClone"/>
        <module name="NoFinalizer"/>
        <module name="NoEnumTrailingComma"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="NoWhitespaceBeforeCaseDefaultColon"/>
        <module name="OneStatementPerLine"/>
        <module name="OuterTypeFilename"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="ParameterName"/>
        <module name="ParenPad"/>
        <module name="PatternVariableName"/>
        <module name="RecordComponentName"/>
        <module name="RecordTypeParameterName"/>
        <module name="RightCurly"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="RequireEmptyLineBeforeBlockTagGroup"/>
        <module name="SingleSpaceSeparator"/>
        <module name="StaticVariableName"/>
        <module name="StringLiteralEquality"/>
        <module name="StaticVariableName"/>
        <module name="StringLiteralEquality"/>
        <module name="TypeName"/>
        <module name="UnnecessaryParentheses"/>
        <module name="UnnecessarySemicolonInEnumeration"/>
        <module name="UnnecessarySemicolonInTryWithResources"/>
        <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
        <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>
        <module name="UnusedImports"/>
        <module name="UpperEll"/>
        <module name="UnusedLocalVariable"/>
        <module name="VariableDeclarationUsageDistance"/>
        <!-- Looking into enabling it in the future <module name="VisibilityModifier"/> -->
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>
    </module>
</module>
