<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="AbstractClassName"/>
        <module name="AnonInnerLength"/>
        <module name="ArrayTrailingComma"/>
        <module name="AvoidDoubleBraceInitialization"/>
        <module name="AvoidNestedBlocks"/>
        <module name="AvoidStarImport"/>
        <module name="AvoidStaticImport"/>
        <module name="BooleanExpressionComplexity"/>
        <module name="CatchParameterName"/>
        <module name="ClassTypeParameterName"/>
        <module name="CommentsIndentation"/>
        <module name="ConstantName"/>
        <!-- Looking into enabling it in the future as it can help make code easier to test <module name="CyclomaticComplexity"/> -->
        <module name="DeclarationOrder"/>
        <module name="DefaultComesLast"/>
        <module name="EmptyBlock"/>
        <module name="EmptyCatchBlock"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="FallThrough"/>
        <module name="FinalClass"/>
        <module name="GenericWhitespace"/>
        <module name="HideUtilityClassConstructor"/>
        <!-- Looking into enabling it in the future <module name="Header"/> -->
        <!-- Looking into enabling it in the future <module name="IllegalCatch"/> -->
        <module name="IllegalIdentifierName"/>
        <module name="IllegalInstantiation"/>
        <module name="IllegalThrows"/>
        <module name="IllegalType"/>
        <!-- Looking into enabling it in the future <module name="ImportOrder"/> -->
        <module name="Indentation"/>
        <module name="InnerAssignment"/>
        <module name="InnerTypeLast"/>
        <module name="InterfaceIsType"/>
        <module name="InterfaceTypeParameterName"/>
        <module name="InvalidJavadocPosition"/>
        <module name="JavaNCSS">
            <property name="methodMaximum" value="70"/>
        </module>
        <module name="LambdaParameterName"/>
        <module name="LeftCurly"/>
        <module name="LocalVariableName"/>
        <!-- Looking into enabling it in the future <module name="MagicNumber"/> -->
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="MethodParamPad"/>
        <module name="MethodTypeParameterName"/>
        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>
        <module name="ModifiedControlVariable"/>
        <module name="ModifierOrder"/>
        <!-- Looking into enabling it in the future <module name="MultipleStringLiterals"/> -->
        <module name="MultipleVariableDeclarations"/>
        <module name="UnusedImports"/>
    </module>
</module>
